.addition {
  width: 280px;
  border: none;
}

.addition__subtitle {
  margin-top: 23px;
  margin-bottom: 38px;
}

.addition__list {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  list-style: none;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--header-font);
}

.addition__item {
  margin-bottom: 13px;
}

.addition__item:last-child {
  margin-bottom: 0;
}

.addition__note {
  display: block;
  width: 280px;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 32px;
  text-align: center;
  font-family: var(--basic-font), sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-text-color);
}
