.addition {
  border: none;
  padding: 0;
}

.addition__subtitle {
  position: relative;
  margin-top: 23px;
  margin-bottom: 38px;

  &::after {
    position: absolute;
    content: "";
    top: 14px;
    left: 164px;
    width: 136px;
    height: 2px;
    border-top: 2px solid var(--basic-accent);
  }

  @media (min-width: $tablet-width) {
    width: 211px;
    margin-left: 40px;
    margin-top: 65px;
    margin-bottom: 57px;

    &::after {
      position: absolute;
      content: "";
      top: 18px;
      left: 252px;
      width: 446px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }

    &::before {
      position: absolute;
      content: "";
      top: 18px;
      left: -70px;
      width: 30px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;

    &::after {
      position: absolute;
      content: "";
      top: 18px;
      left: 252px;
      width: 1076px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }

    &::before {
      position: absolute;
      content: "";
      top: 18px;
      left: -110px;
      width: 30px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }
  }
}

.addition__list {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  list-style: none;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--header-font);

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.addition__item {
  padding: 0;
  margin: 0;
  height: 26px;
  display: flex;
  align-items: center;
  padding-left: 46px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 284px;
    height: 42px;
    padding-left: 59px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 61px;
  }
}

.addition__item:last-child {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.addition__label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.addition__input + .addition__label::before {
  content: "";
  position: absolute;
  left: -46px;
  top: -5px;
  width: 26px;
  height: 26px;
  border: 2px solid var(--additional-light);

  @media (min-width: $tablet-width) {
    left: -59px;
    top: -6px;
    width: 40px;
    height: 40px;
  }
}

.addition__input:hover + .addition__label::before {
  border: 2px solid var(--radio-hover);
}

.addition__input:disabled + .addition__label {
  opacity: 0.3;
}

.addition__input:checked + .addition__label::after {
  content: "";
  position: absolute;
  left: -40px;
  top: 2px;
  width: 18px;
  height: 14px;
  background: url("../../img/icons/check-mark.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: -45px;
    top: 6px;
  }
}

.addition__note {
  display: block;
  width: 280px;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 32px;
  text-align: center;
  font-family: var(--basic-font), sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 16px;
    text-align: left;
  }
}

.addition__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 72px;
  }
}

.addition__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 282px;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-right: 81px;
  }
}
