.catalog-continues {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 28px;
  border-bottom: 1px solid var(--additional-accent);

  @media (min-width: $tablet-width) {
    width: 324px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog-continues__title {
  width: 280px;
  margin-top: 23px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 22px;
  }
}

.catalog-continues__text {
  margin-bottom: 21px;
  font-family: var(--basic-font), sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    width: 167px;
    margin: 0 auto;
    margin-bottom: 90px;
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-continues__link {
  color: var(--basic-text-color);
  background-color: var(--additional-darkaccent);

  &:hover {
    background-color: var(--additional-grayish);
  }

  &:active {
    color: var(--hover-gray);
  }

  @media (min-width: $tablet-width) {
    width: 249px;
    margin: 0 auto;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.catalog-continues__span {
  display: block;
  position: relative;
  margin-top: 10px;
  padding-bottom: 10px;


  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: -30px;
    left: 125px;
    background: url("../../img/icons/plus.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin-top: 52px;
    padding-bottom: 49px;

    &::before {
      width: 60px;
      height: 60px;
      background: url("../../img/icons/plus-tb.svg");
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: -30px;
      left: 90px;
    }
  }
}
