.catalog-continues {
  text-align: center;
  padding-top: 28px;
}

.catalog-continues__title {
  width: 280px;
  margin-top: 23px;
  margin-bottom: 10px;
}

.catalog-continues__text {
  margin-bottom: 21px;
  font-family: var(--basic-font), sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-text-color);
}

.catalog-continues__link {
  color: var(--basic-text-color);
  background-color: var(--additional-darkaccent);
}
