.common {
  font-family: var(--accent-font), "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-text-color);

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    border-top: 1px solid var(--additional-accent);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::after {
      content: initial;
    }
  }

  @media (min-width: $desktop-width) {
    width: 569px;

    &::after {
      border-top: none;
    }
  }
}

.common__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin-bottom: 17px;
    margin-left: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.common__wrapper:last-child {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.common__label {
  min-width: fit-content;
  margin-right: 15px;
  padding: 14px 0;

  @media (min-width: $tablet-width) {
    margin-right: 14px;
    padding: 10px 0 12px;
  }
}

.common__input {
  flex-grow: 1;
  padding: 13px 15px;
  font-family: var(--accent-font), "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-text-color);
  border: 1px solid var(--additional-accent-grayish);
  outline: none;
  width: 4ch;

  &:hover {
    border: 1px solid var(--additional-light);
  }

  &:focus {
    border: 1px solid var(--basic-text-color);
  }

  &:invalid {
    border: 1px solid var(--error);
  }

  &:focus-visible {
    outline: 1px solid var(--basic-text-color);
  }

  @media (min-width: $tablet-width) {
    padding: 11px 19px 12px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 20px;
  }
}

.common__input::placeholder {
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
