.comment {
  width: 280px;

  @media (width: $tablet-width) {
    width: 668px;
  }

  @media (width: $desktop-width) {
    width: 1220px;
  }
}

.comment__subtitle {
  position: relative;
  margin-bottom: 38px;

  &::after {
    position: absolute;
    content: "";
    top: 14px;
    left: 143px;
    width: 158px;
    height: 2px;
    border-top: 2px solid var(--basic-accent);
  }

  @media (min-width: $tablet-width) {
    margin-left: 40px;

    &::after {
      position: absolute;
      content: "";
      top: 18px;
      left: 219px;
      width: 478px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }

    &::before {
      position: absolute;
      content: "";
      top: 18px;
      left: -70px;
      width: 30px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
    margin-left: 0;

    &::after {
      position: absolute;
      content: "";
      top: 18px;
      left: 219px;
      width: 1108px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }

    &::before {
      position: absolute;
      content: "";
      top: 18px;
      left: -110px;
      width: 70px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }
  }
}

.comment__textarea {
  display: block;
  width: 280px;
  padding-top: 9px;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-text-color);
  text-align: center;
  border: 1px solid var(--additional-accent-grayish);

  @media (min-width: $tablet-width) {
    width: 631px;
    margin-left: 40px;
    padding-top: 10px;
    padding-left: 19px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-left: 0;
  }
}
