.contacts {
  background-color: var(--additional-darkaccent);

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.contacts__invitation {
  position: relative;
}

.contacts__invitation-wrap {
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 625px;
    padding-top: 64px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 570px;
    padding-top: 66px;
    padding-right: 62px;
    padding-bottom: 51px;
    padding-left: 76px;
    top: 95px;
    left: 0;
    background-color: var(--accent-text-color);
  }
}

.contacts__text {
  margin: 0;
  padding: 0;
  width: 140px;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--header-font);

  @media (min-width: $tablet-width) {
    width: 175px;
    font-size: 20px;
    line-height: 22px;
  }
}

.contacts__address {
  margin: 0;
  padding: 0;
  width: 140px;
  font-family: var(--basic-font), sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    width: 159px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: right;
  }
}

.contacts__address span {
  display: block;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.contacts__wrap {
  height: 362px;
  background:
    linear-gradient(var(--filter-color), var(--filter-color)),
    url("../../img/location-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover, 320px 362px;

  @media (min-resolution: 2dppx) {
    background: url("../../img/location-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background:
      linear-gradient(var(--filter-color), var(--filter-color)),
      url("../../img/location-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover, 768px 400px;

    @media (min-resolution: 2dppx) {
      background: url("../../img/location-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    background:
      linear-gradient(var(--filter-color), var(--filter-color)),
      url("../../img/location-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover, 1440px 400px;

    @media (min-resolution: 2dppx) {
      background: url("../../img/location-desktop@2x.png");
    }
  }
}
