.example {
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: var(--additional-grayish);

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 43px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}

.example__title {
  margin-bottom: 33px;
  font-family: var(--accent-font), sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: var(--header-font);

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    margin-bottom: 76px;
  }
}

.example__text {
  margin-bottom: 25px;
  font-family: var(--basic-font), sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  width: 124px;
  border: 1px solid var(--additional-light);
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    margin-bottom: 51px;
    padding: 0;
  }
}

.example__item--position {
  width: 280px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 42px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 174px;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}


.example__key {
  width: 87px;
  padding: 8px 5px;
  font-family: var(--basic-font), sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-text-color);
  background-color: var(--additional-grayish);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__key--position {
  width: 135px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: var(--accent-font), sans-serif;
  color: var(--header-font);
}

.example__definition {
  order: -1;
  margin: 0;
  padding: 0;
  font-family: var(--accent-font), sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--header-font);

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__definition--position {
  order: 0;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--header-font);
}

.example__item:first-child {
  margin-left: 0;
}

.example__image {
  width: 311px;
  height: 232;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 620px;
  }
}

.example__buttons-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    width: 580px;
  }
}
