.example {
  padding-bottom: 25px;
  background-color: var(--additional-grayish);

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 33px;
  padding-top: 26px;
  font-family: var(--accent-font), "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: var(--header-font);

  @media (min-width: $tablet-width) {
    width: 325px;
    margin: 0;
    margin-bottom: 61px;
    padding-top: 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-top: 67px;
    padding-bottom: 79px;
  }
}

.example__text {
  margin-bottom: 25px;
  font-family: var(--basic-font), sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    width: 690px;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-top: 70px;
    margin-bottom: 67px;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  width: 124px;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 162px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__item--position {
  width: 280px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 33px;
  margin-left: -5px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 300px;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-top: -15px;
  }

  @media (min-width: $desktop-width) {
    width: 327px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
    margin-bottom: 75px;
  }
}

.example__key {
  width: 87px;
  margin: 0 auto;
  margin-top: -16px;
  padding: 8px 5px;
  font-family: var(--basic-font), sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-text-color);
  background-color: var(--additional-grayish);

  @media (min-width: $tablet-width) {
    width: 142px;
    margin-top: -19px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 145px;
    padding-left: 0;
    padding-right: 0;
  }
}

.example__key--position {
  position: relative;
  width: 135px;
  margin: 0;
  padding-right: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: var(--accent-font), "Arial", sans-serif;
  color: var(--header-font);

  &::after {
    position: absolute;
    top: 7px;
    right: 3px;
    content: ":";
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
    padding: 0;
    width: 180px;
    font-size: 20px;

    &::after {
      top: -2px;
      right: 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      text-align: left;

      &::after {
        top: -0;
        right: 7px;
      }
    }
  }
}

.example__definition {
  order: -1;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 16px;
  font-family: var(--accent-font), "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--header-font);
  border: 1px solid var(--additional-light);
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__definition--position {
  position: relative;
  order: 0;
  margin: 0;
  padding: 0;
  font-family: var(--accent-font), "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--header-font);
  border: none;

  @media (min-width: $tablet-width) {
    width: 90px;
    font-size: 20px;
  }
}

.example__item:first-child {
  margin-left: 0;
}

.example__wrap-before {
  @media (min-width: $tablet-width) {
    position: relative;
    width: 300px;
    height: 520px;
  }

  @media (min-width: $desktop-width) {
    width: 625px;
    margin-left: 107px;
  }
}

.example__image--before {
  display: block;
  margin-left: -15px;
  width: 311px;
  height: 232px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 120px;
    top: 20px;
    margin-left: -85px;
    width: 708px;
    height: 520px;
    object-fit: cover;
    object-position: -40px 0;
  }

  @media (min-width: $desktop-width) {
    left: -20px;
    top: 10px;
    object-position: -43px 0;
  }
}

.example__wrap-after {
  @media (min-width: $tablet-width) {
    position: relative;
    width: 354px;
    height: 560px;
  }
}

.example__image--after {
  display: none;
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;
    top: 20px;
    left: 35px;
    width: 708px;
    height: 520px;
    object-fit: cover;
    object-position: -250px 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: -68px;
    top: 10px;
    left: -39px;
    object-position: -270px 0;
  }
}


.example__no-wrap {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__wrap {
  @media (min-width: $desktop-width) {
    width: 610px;
    margin: 0;
  }
}

.example__image-wrap {
  display: flex;
  justify-content: center;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.example__image-buttons {
  background-color: var(--additional-grayish);

  @media (min-width: $tablet-width) {
    margin-left: -10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 610px;
  }
}

.example__buttons-wrap {
  width: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  margin-left: 38px;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    width: 583px;
    margin-top: -10px;
    margin-left: 72px;
    padding: 0;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 5px;
    margin-left: 32px;
  }
}

.example__toggle {
  width: 84px;
  height: 14px;
  background-color: var(--accent-text-color);
  border-radius: 6px;
  border: 1px solid var(--additional-light);

  @media (min-width: $tablet-width) {
    position: relative;
    width: 428px;
    height: 6px;
    margin-top: 0;
    background-color: var(--additional-accent);
  }
}

.example__scale {
  margin-top: 3px;
  margin-left: 4px;
  width: 35px;
  height: 6px;
  background-color: var(--basic-accent);
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -14px;
    left: 200px;
    margin: 0;
    padding: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid var(--accent-text-color);
    box-shadow: (0 0 0 12px var(--accent-text-color) inset),
      (0 1px 3px var(--shadow));

    &:active {
      border: 1px solid var(--basic-accent);
    }
  }
}

.example__button {
  font-family: var(--accent-font), "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--header-font);
  border: none;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--radio-hover);
  text-underline-offset: 5px;

  &:hover {
    text-decoration-style: solid;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
