.form__wrapper {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__button-wrap {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 72px;
  }
}

.form__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 282px;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-right: 81px;
  }
}

.form__note {
  display: block;
  width: 280px;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 32px;
  text-align: center;
  font-family: var(--basic-font), sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 16px;
    text-align: left;
  }
}
