.identity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 7px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin: 0;
    padding: 0;
  }
}

.identity__logo {
  display: flex;
  margin-left: 56px;
  object-fit: cover;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    align-items: center;
    width: 118px;
    margin: 0;
  }
}

.identity__mark {
  padding: 0;
}

.identity__img {
  display: block;
  width: 33px;
  height: 38px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }
}

.identity__img:hover {
  @media (min-width: $tablet-width) {
    opacity: 0.8;
  }
}

.identity__img:active {
  @media (min-width: $tablet-width) {
    opacity: 0.6;
  }
}
