.identity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 57px;
  }
}

.identity__logo {
  display: flex;
  margin-left: 56px;
  object-fit: cover;
  flex-shrink: 0;

  &:focus-visible {
    outline: 1px solid var(--header-font);
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    align-items: center;
    width: 118px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 125px;
  }
}

.identity__logo img {
  @media (min-width: $desktop-width) {
    width: 115px;
  }
}

.identity__mark {
  padding: 0;
}

.identity__img {
  display: block;
  width: 33px;
  height: 38px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 65px;
    padding: 0;
    margin: 0;
    margin-right: 30px;
  }
}
