.identity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 7px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin: 0;
    padding: 0;
  }
}

.identity__logo {
  display: block;
  margin-left: 56px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.identity__mark {
  padding-bottom: 10px;
}

.identity__img {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.identity__img:hover {
  @media (min-width: $tablet-width) {
    opacity: 0.8;
  }
}

.identity__img:active {
  @media (min-width: $tablet-width) {
    opacity: 0.6;
  }
}
