.link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 10px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-text-color);
  background-color: var(--basic-accent);
  border: none;
}
