.main-catalog {
  position: static;
}

.main-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-snap-type: y mandatory;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-catalog__item {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr min;
  scroll-snap-align: start;
  scroll-margin: 90px;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    left: 0;
    right: 0;
    border-top: 1px solid var(--additional-accent);
  }

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 0 37px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 93px;
    background-color: var(--additional-darkaccent);

    &::before {
      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 0 37px 39px 40px;
    margin-bottom: 93px;
  }
}

.main-catalog__link {
  text-decoration: none;
}

.main-catalog__title {
  width: 76px;
  margin: 0;
  margin-bottom: 18px;
  padding-top: 24px;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--header-font);

  @media (min-width: $tablet-width) {
    width: 150px;
    padding: 0;
    margin-top: 34px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
  }
}

.main-catalog__properties {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  font-family: var(--basic-font), sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-catalog__link-image {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 1 / 3;

  @media (min-width: $tablet-width) {
    order: -1;
    align-items: flex-start;
  }
}

.main-catalog__image--size_s {
  @media (min-width: $tablet-width) {
    width: 163px;
    height: 174px;
    margin-top: -45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -52px;
  }
}

.main-catalog__image--size_l {
  @media (min-width: $tablet-width) {
    width: 172px;
    height: 201px;
    margin-top: -73px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -82px;
  }
}

.main-catalog__link-title {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.main-catalog__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  grid-column: 3 / 5;
  grid-row: 2 / 3;

  @media (min-width: $tablet-width) {
    width: 247px;
    padding-top: 7px;
    padding-bottom: 9px;
    font-size: 16px;
    border-bottom: 1px solid var(--additional-light);
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.main-catalog__wrapper:first-child {
  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.main-catalog__wrapper:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.main-catalog__link-link {
  grid-column: 1 / -1;
  grid-row: 3 / 5;

  @media (min-width: $tablet-width) {
    width: 248px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    padding: 11px 26px;
  }
}

.main-catalog__item--continues {
  position: relative;
  padding: 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-top: 5px;
  background: none;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--additional-lightaccent);
    box-shadow:
      -100px 0 0 0 var(--additional-lightaccent),
      -200px 0 0 0 var(--additional-lightaccent),
      -300px 0 0 0 var(--additional-lightaccent),
      100px 0 0 0 var(--additional-lightaccent),
      200px 0 0 0 var(--additional-lightaccent),
      300px 0 0 0 var(--additional-lightaccent);
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--additional-lightaccent);
    box-shadow:
      -100px 0 0 0 var(--additional-lightaccent),
      -200px 0 0 0 var(--additional-lightaccent),
      -300px 0 0 0 var(--additional-lightaccent),
      100px 0 0 0 var(--additional-lightaccent),
      200px 0 0 0 var(--additional-lightaccent),
      300px 0 0 0 var(--additional-lightaccent);
  }


  @media (min-width: $tablet-width) {
    width: 324px;
    margin: 0;
    margin-bottom: 93px;
    border: 2px solid var(--additional-darkaccent);

    &::before,
    &::after {
      content: initial;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.main-catalog__title--continues {
  width: 280px;
  padding: 0;
  margin-top: 23px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 22px;
  }
}

.main-catalog__text--continues {
  margin-bottom: 21px;
  font-family: var(--basic-font), sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    width: 167px;
    margin: 0 auto;
    margin-bottom: 70px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.main-catalog__link--continues {
  margin-bottom: 28px;
  color: var(--basic-text-color);
  background-color: var(--additional-darkaccent);

  &:hover {
    background-color: var(--additional-grayish);
  }

  &:active {
    color: var(--hover-gray);
  }

  @media (min-width: $tablet-width) {
    width: 249px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.main-catalog__span {
  display: block;
  position: relative;
  margin-top: 65px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: -40px;
    left: 120px;
    background: url("../../img/stack.svg#plus");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin-top: 52px;
    padding-bottom: 49px;

    &::before {
      width: 60px;
      height: 60px;
      top: 0;
      left: -30px;
      background-image: url("../../img/stack.svg#plus");
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: -12px;
      left: -30px;
    }
  }
}
