.main-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-catalog__item {
  margin: 0;
  padding: 24px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr min;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 0 37px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 93px;
    background-color: var(--additional-darkaccent);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 0 37px 39px 40px;
    margin-bottom: 93px;
  }
}

.main-catalog__link {
  text-decoration: none;
}

.main-catalog__title {
  width: 76px;
  margin: 0;
  margin-bottom: 18px;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--header-font);

  @media (min-width: $tablet-width) {
    width: 150px;
    margin-top: 34px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
  }
}

.main-catalog__properties {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  font-family: var(--basic-font), sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-catalog__link-image {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 1 / 3;

  @media (min-width: $tablet-width) {
    order: -1;
    align-items: flex-start;
    width: 168px;
    height: 200px;
    margin-top: -43px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
    margin-top: -52px;
  }
}

.main-catalog__link-title {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.main-catalog__wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  grid-column: 3 / 5;
  grid-row: 2 / 3;

  @media (min-width: $tablet-width) {
    width: 247px;
    padding-top: 7px;
    padding-bottom: 9px;
    font-size: 16px;
    border-bottom: 1px solid var(--additional-light);
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.main-catalog__wrapper:first-child {
  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.main-catalog__wrapper:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.main-catalog__link-link {
  grid-column: 1 / -1;
  grid-row: 3 / 5;

  @media (min-width: $tablet-width) {
    width: 248px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    padding: 11px 26px;
  }
}
