.options__link {
  display: block;
  margin: 0;
  padding-top: 19px;
  border-top: 1px solid var(--additional-accent);
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--header-font);
}
