.owner-contacts {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.owner-contacts__main-wrapper {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.owner-contacts__wrapper {
  position: relative;
  min-width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 14px;
  font-family: var(--accent-font), "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    width: 632px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 67px;
  }
}

.owner-contacts__wrapper:last-child {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.owner-contacts__subtitle {
  width: 280px;
  display: flex;
  justify-content: stretch;
  position: relative;
  padding-top: 26px;
  margin-bottom: 35px;

  &::after {
    flex-grow: 1;
    content: "";
    width: 99px;
    height: 2px;
    margin-top: 18px;
    background-color: var(--basic-accent);
    box-shadow: 20px 0 0 var(--basic-accent),
      80px 0 0 var(--basic-accent),
      140px 0 0 var(--basic-accent),
      200px 0 0 var(--basic-accent),
      260px 0 0 var(--basic-accent);
  }

  &::before {
    position: absolute;
    content: "";
    left: -320px;
    width: 300px;
    height: 2px;
    top: 42px;
    border-top: 2px solid var(--basic-accent);
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0;
    margin-top: 81px;
    margin-bottom: 70px;

    &::after {
      flex-grow: 1;
      content: "";
      width: 145px;
      height: 2px;
      margin-left: 40px;
      margin-top: 18px;
      box-shadow:
        144px 0 0 var(--basic-accent),
        288px 0 0 var(--basic-accent),
        432px 0 0 var(--basic-accent);
    }

    &::before {
      position: absolute;
      content: "";
      left: -340px;
      width: 300px;
      height: 2px;
      top: 18px;
      border-top: 2px solid var(--basic-accent);
    }
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-left: 0;
    margin-right: 40px;
    margin-top: 69px;
    margin-bottom: 76px;
    padding-left: 0;

    &::after {
      flex-grow: 1;
      content: "";
      width: 650px;
      height: 2px;
      margin-top: 18px;
      box-shadow: 650px 0 0 var(--basic-accent);
    }

    &::before {
      position: absolute;
      content: "";
      top: 18px;
      left: -640px;
      width: 600px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }
  }
}

.owner-contacts__label {
  min-width: fit-content;
  padding-right: 8px;

  @media (min-width: $tablet-width) {
    padding-right: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 15px;
  }
}

.owner-contacts__input {
  flex-grow: 1;
  position: relative;
  width: 219px;
  font-family: var(--accent-font), "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding: 12px 35px 12px 15px;
  color: var(--basic-text-color);
  border: 1px solid var(--additional-accent-grayish);

  &:hover {
    border: 1px solid var(--additional-light);

    .icon {
      background: var(--basic-accent);
    }
  }

  &:invalid {
    border: 1px solid var(--error);
  }

  &:focus {
    border: 1px solid var(--basic-text-color);
  }

  @media (min-width: $tablet-width) {
    width: 551px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 35px 10px 21px;
  }

  @media (min-width: $desktop-width) {
    width: 486px;
  }
}

.owner-contacts__icon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: var(--addition-text-color);
  mask-repeat: no-repeat;
  mask-size: cover;
}

.owner-contacts__icon--letter {
  top: 13px;
  mask-image: url("../../img/stack.svg#letter");

  @media (min-width: $tablet-width) {
    top: 17px;
  }
}

.owner-contacts__icon--phone {
  width: 20px;
  mask-image: url("../../img/stack.svg#phone");
}

.owner-contacts__input:hover + .owner-contacts__icon {
  background: var(--basic-accent);
}

.owner-contacts__input:invalid + .owner-contacts__icon {
  background: var(--error);
}
