.owner-contacts {
  width: 320px;
  padding-top: 26px;
  padding-bottom: 24px;
  border: 1px solid red;
}

.owner-contacts__wrapper {
  width: 280px;
  margin: 0 20px 14px;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-text-color);
}

.owner-contacts__wrapper:last-child {
  margin-bottom: 0;
}

.owner-contacts__input {
  width: 204px;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 14px 0 14px 15px;
  color: var(--basic-text-color);
}
