.owner-contacts {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min min;
    column-gap: 78px;
  }
}

.owner-contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-left: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    padding-left: 0;
    margin-bottom: 67px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.owner-contacts__wrapper--shift {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.owner-contacts__wrapper:last-child {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.owner-contacts__subtitle {
  position: relative;
  margin-top: 26px;
  margin-bottom: 35px;

  &::after {
    position: absolute;
    content: "";
    top: 24px;
    left: 201px;
    width: 99px;
    height: 2px;
    border-top: 2px solid var(--basic-accent);
  }

  @media (min-width: $tablet-width) {
    width: 512px;
    margin-top: 75px;
    margin-bottom: 76px;
    margin-left: 40px;

    &::after {
      position: absolute;
      content: "";
      top: 18px;
      left: 554px;
      width: 145px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }

    &::before {
      position: absolute;
      content: "";
      top: 18px;
      left: -70px;
      width: 30px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 40px;
    margin-top: 69px;
    margin-bottom: 76px;
    padding-left: 0;
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    &::after {
      position: absolute;
      content: "";
      top: 18px;

      width: 778px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }

    &::before {
      position: absolute;
      content: "";
      top: 18px;
      left: -110px;
      width: 70px;
      height: 2px;
      border-top: 2px solid var(--basic-accent);
    }
  }
}

.owner-contacts__input {
  position: relative;
  width: 219px;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 0 12px 15px;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    width: 535px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 10px 21px;
  }

  @media (min-width: $desktop-width) {
    width: 486px;
    padding: 10px 0 10px 21px;
  }
}

.owner-contacts__input-email {
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    width: 18px;
    height: 13px;
    background: url("../../img/icons/letter.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
