.page-footer {
  background-color: var(--additional-darkaccent);

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 0;
  }
}

.page-footer__identity {
  margin: 0;
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid var(--additional-accent);

  @media (min-width: $tablet-width) {
    width: 140px;
    margin: 0;
    padding: 0;
    border: none;
  }
}

.page-footer-social {
  border-bottom: 1px solid var(--additional-accent);

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
