.page-header {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-top: 26px;
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-top: 53px;
    padding-bottom: 32px;
  }
}

.page-header__identity {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    border: 2px solid var(--header-font);
    outline: none;
  }
}
