.page__leveler {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.page__body {
  margin: 0;
}
