.page-main__title {
  width: 280px;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 37px;
  font-family: var(--accent-font), sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-decoration: none;
  color: var(header-font);

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-left: 40px;
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0;
    margin-bottom: 56px;
  }
}

.page-main__title-catalog {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-top: 65px;
    margin-bottom: 91px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
    margin-bottom: 85px;
  }
}
