.page-main {
  width: 320px;
}

.page-main__title {
  width: 280px;
  margin: 28px 20px 37px;
  font-family: var(--accent-font), sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-decoration: none;
  color: var(header-font);
}
