.page-footer {
  background-color: var(--additional-darkaccent);

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 0;
  }
}

.page-footer__identity {
  width: 280px;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid var(--additional-accent);

  @media (min-width: $tablet-width) {
    width: 130px;
    margin: 0;
    padding: 0;
    border: none;
  }
}

.page-footer__mark {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto;
  background-color: var(--logo-footer);
}

.page-footer__mark--color {
  mask: url("../../img/logo.svg#caption");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center center;
}

.page-footer__mark--color:hover {
  opacity: 0.8;
}

.page-footer__mark--color:active {
  opacity: 0.6;
}

.page-footer__social {
  width: 280px;
  border-bottom: 1px solid var(--additional-accent);

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-footer__copyright {
  width: 280px;
  margin: 0;
  padding: 19px 0;
  border-top: 1px solid var(--additional-accent);

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    width: 170px;
    border: none;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
