.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 39px 20px 22px 20px;
  background-color: var(--additional-darkaccent);

  @media (min-width: $tablet-width) {
    padding: 55px 30px 61px 30px;
    flex-direction: row;
    justify-content: space-between;
    background: none;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 59px 110px 56px;
  }
}

.page-footer__identity {
  margin: 0;
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid var(--additional-accent);

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.page-footer-social {
  border-bottom: 1px solid var(--additional-accent);
}
