.questionnaire__text {
  width: 230px;
  margin-bottom: 39px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--header-font);

  @media (min-width: $tablet-width) {
    width: 500px;
    margin-left: 41px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
    margin-left: 0;
  }
}
