.questionnaire {
  width: 320px;
  border: 1px solid red;
}

.questionnaire__text {
  width: 230px;
  margin: 37px 0 39px 20px;
  padding: 0;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--header-font);
  border: 1px solid red;
}

.common {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
  padding: 0 20px;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-text-color);
  border-bottom: 1px solid var(--additional-accent);
}

.common__block {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-bottom: 13px;
}

.common__block:last-child {
  margin-bottom: 24px;
}

.common__label {
  padding: 13px 0 14px;
  border: 1px solid red;
}

.common__input {

  padding: 13px 0 14px 15px;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-text-color);
  border: 1px solid var(--additional-accent-grayish);
}

