.radio {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 19px;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-text-color);
  border-top: 1px solid var(--additional-accent);
  border-bottom: 1px solid var(--additional-accent);

  @media (min-width: $tablet-width) {
    width: 630px;
    padding: 25px 27px;
    font-size: 20px;
    line-height: 30px;
    border-top: 1px solid var(--additional-accent);
    border-bottom: 1px solid var(--additional-accent);
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    border: none;
  }
}

.radio__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    height: 40px;
  }
}

.radio__input + .radio__label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid var(--additional-light);
  border-radius: 50%;

  &:hover {
    border: 1px solid var(--radio-hover);
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid var(--additional-light);
  }
}

.radio__input:checked + .radio__label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 14px;
  height: 14px;
  background-color: var(--basic-accent);
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 12px;
    left: 12px;
    width: 18px;
    height: 18px;
  }
}

.radio__label {
  margin-left: 45px;

  @media (min-width: $tablet-width) {
    margin-left: 61px;
  }
}
