.radio {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 19px;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    width: 630px;
    padding: 25px 36px 25px 30px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.radio__wrapper {
  margin-bottom: 13px;

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.radio__wrapper:last-child {
  margin-bottom: 25px;
}
