.radio {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 19px;
  border: 1px solid blue;
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-text-color);
  border-bottom: 1px solid var(--additional-accent);
}

.radio__wrapper {
  margin: 0 20px 13px;
}

.radio__wrapper:last-child {
  margin-bottom: 0;
}
