.recommendations {
  border-bottom: 1px solid var(--additional-lightaccent);

  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }
}

.recommendations__title {
  margin-top: 27px;
  margin-bottom: 38px;
  font-family: var(--accent-font), sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: var(--header-font);

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.recommendations__list {
  list-style: none;
  padding: 0;
  font-family: var(--basic-font), sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.recommendations__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-bottom: 37px;
    padding: 151px 38px 57px 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.recommendations__item:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }
}

.recommendations__text {
  margin: 0;
  padding: 0;
  vertical-align: middle;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    float: left;
    background-color: var(--basic-accent);
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 245px;
    margin: 0;
    padding: 0;

    &::before {
      position: absolute;
      bottom: 71px;

      content: "";
      width: 60px;
      height: 60px;
      margin-bottom: 30px;
      background-color: var(--basic-accent);
    }
  }
}
