.recommendations {
  border-bottom: 1px solid var(--additional-lightaccent);

  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }
}

.recommendations__title {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: var(--accent-font), "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: var(--header-font);

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-top: 71px;
    margin-bottom: 32px;
  }
}

.recommendations__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--basic-font), sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.recommendations__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-bottom: 37px;
    padding: 151px 38px 57px 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 0;
  }
}

.recommendations__item:last-child {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.recommendations__text {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 245px;
    margin: 0;
    padding: 0;
  }
}

.recommendations__text:first-child {
  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: -3px;
    left: 0;
    float: right;
    background: url("../../img/stack.svg#icon-leaf");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: 0 0, 0 0;
  }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      width: 80px;
      height: 80px;
      top: -112px;
      left: 0;
    }
  }
}

.recommendations__text--water:first-child {
  &::before {
    background-image: url("../../img/stack.svg#icon-water");
  }
}

.recommendations__text--cutlery:first-child {
  &::before {
    background-image: url("../../img/stack.svg#icon-cutlery");
  }
}

.recommendations__text--clock:first-child {
  &::before {
    background-image: url("../../img/stack.svg#icon-clock");
  }
}
