.recommendations {
  @media (min-width: $desktop-width) {
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-bottom: 205px;
  }
}

.recommendations__title {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: var(--accent-font), "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: var(--header-font);

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 32px;
  }
}

.recommendations__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--basic-font), sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-text-color);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: counterRec;
  }
}

.recommendations__item {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 324px;
    margin-bottom: 37px;
    padding: 151px 38px 57px 0;
    font-size: 16px;
    line-height: 24px;
    counter-increment: counterRec;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 0;
    padding-right: 0;
  }

  &:last-child {
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      margin-bottom: 47px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &::before {
    content: "";
    margin-right: 20px;
    width: 60px;
    height: 60px;
    float: left;
    background-color: var(--basic-accent);
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }
  }

  &--leaf::before {
    background-image: url("../../img/stack.svg#leaf");
  }

  &--water::before {
    background-image: url("../../img/stack.svg#water");
  }

  &--cutlery::before {
    background-image: url("../../img/stack.svg#cutlery");
  }

  &--clock::before {
    background-image: url("../../img/stack.svg#clock");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: counter(counterRec);
      position: absolute;
      z-index: -1;
      top: 0;
      left: 115px;
      font-family: var(--accent-font);
      font-size: 280px;
      line-height: 1;
      color: var(--additional-darkaccent);
    }
  }
}

.recommendations__text {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    width: 245px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-top: 2px;
  }
}
