.copyright__wrapper {
  width: 280px;
  margin: 0;
  padding: 15px 0;
  border-top: 1px solid var(--additional-accent);

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    width: 170px;
    border: none;
  }
}

.copyright__link {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-family: var(--basic-font), sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-text-color);
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__text {
  margin: 0;
  padding: 0;
  color: var(--basic-text-color);
}

.copyright__logo {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: var(--logo);
}

.copyright__logo--color {
  width: 43px;
  height: 43px;
  mask: url("../../img/logo/htmlacademy.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
}

.copyright__logo--color:hover {
  background-color: var(--basic-accent);
}

.copyright__text:hover + .copyright__logo--color {
  background-color: var(--basic-accent);
}
