.slogan__text {
  width: 198px;
  margin: 0 auto;
  padding: 0;
  margin-top: 25px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
