.social {
  margin: 0;
  padding: 0;
  width: 125px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 145px;
    padding-left: 20px;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-left: -5px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__link {
  display: block;
  margin: 2px;
  width: 23px;
  background-color: var(--logo);
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center center;

  &:hover {
    background-color: var(--basic-accent);
  }

  &:active {
    background-color: var(--basic-accent);
    opacity: 0.3;
  }

  &:focus-visible {
    border: 9px solid var(--header-font);
  }

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 30px;
  }
}

.social__link--vkontakte {
  width: 23px;
  height: 16px;
  mask-image: url("../../img/stack.svg#vk");

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 17px;
  }
}

.social__link--instagram {
  width: 17px;
  height: 17px;
  mask-image: url("../../img/stack.svg#ig");

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link--fb {
  width: 11px;
  height: 18px;
  mask-image: url("../../img/stack.svg#fb");

  @media (min-width: $tablet-width) {
    width: 15px;
    height: 27px;
  }
}
