.social {
  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.social__wrapper {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 150px;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px; /*временно для наглядности*/
  list-style: none;
  border: 1px solid grey;
  margin-top: 20px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 122px;
    margin: 0;
    padding: 0;
  }
}

.social__link--vkontakte {
  width: 23px;
  height: 13px;
  background: url("../../img/stask.svg#icon_vkontakte");
}

.social__path--vkontakte {
  fill: red;
}
