.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px; /*временно для наглядности*/
  list-style: none;
  border: 1px solid grey;
  margin-top: 20px;
  margin-bottom: 21px;
}
