:root {
  --basic-accent: hsl(97 53% 47%);
  --basic-accent-opacity: hsl(97 53% 47% / 0.3);
  --opasity-accent: hsl(97 53% 47% / 0.85);
  --link-hover: hsl(97 57% 43%);
  --link-pressed-font: hsl(0 0% 100% / 0.3);
  --header-font: hsl(0 0% 0%);
  --catalog-hover: hsl(0 0% 0% / 0.6);
  --catalog-current: hsl(0 0% 0% / 0.3);
  --logo-footer: hsl(0 0% 7%);
  --basic-text-color: hsl(0 0% 27%);
  --hover-gray: hsl(0 0% 27% / 0.3);
  --addition-text-color: hsl(0 0% 13%);
  --accent-text-color: hsl(0 0% 100%);
  --dsct-catalog-hover: hsl(0 0% 100% / 0.6);
  --dsct-catalog-current: hsl(0 0% 100% / 0.3);
  --radio-hover: hsl(0 0% 73%);
  --additional-light: hsl(0 0% 80%);
  --plus: hsl(0 0% 83%);
  --additional-accent: hsl(0 0% 85%);
  --additional-accent-grayish: hsl(0 0% 91%);
  --additional-grayish: hsl(0 0% 92%);
  --additional-darkaccent: hsl(0 0% 95%);
  --additional-lightaccent: hsl(0 0% 90%);
  --logo: hsl(0 0% 40%);
  --error: hsl(0 100% 75%);
  --filter-color: hsl(97.32deg 53.14% 46.86% / 0.85);
}
