:root {
  --basic-accent: hsl(97 53% 47%);
  --opasity-accent: hsla(97 53% 47% 0.85);
  --link-hover: hsl(97 57% 43%);
  --link-pressed-font: hsla(0 0% 100% 0.3);
  --header-font: hsl(0 0% 0%);
  --basic-text-color: hsl(0 0% 27%);
  --addition-text-color: hsl(0 0% 13%);
  --accent-text-color: hsl(0 0% 100%);
  --additional-light: hsl(0 0% 80%);
  --additional-accent: hsl(0 0% 85%);
  --additional-accent-grayish: hsl(0 0% 91%);
  --additional-grayish: hsl(0 0% 92%);
  --additional-darkaccent: hsl(0 0% 95%);
  --additional-lightaccent: hsl(0 0% 90%);
  --logo: hsl(0 0% 40%);
  --error: hsl(0 100% 75%);
}
