:root {
  --basic-accent: hsl(97 53% 47%);
  --opasity-accent: hsla(97 53% 47% 0.85);
  --header-font: hsl(0 0% 0%);
  --basic-text-color: hsl(0 0% 27%);
  --accent-text-color: hsl(0 0% 100%);
  --additional-accent: hsl(0 0% 85%);
  --additional-darkaccent: hsl(0 0% 95%);
  --additional-lightaccent: hsl(0 0% 90%);
  --logo: hsl(0 0% 40%);
  --error: hsl(0 100% 75%);
}
